<div class="container p-5">
    <div *ngIf="loading; else loadedBlock">
        <div class="flex gap-3 flex-col">
            <div class="skeleton h-8 w-60"></div>
            <div class="divider"></div>
            <div class="skeleton h-8 w-60"></div>
            <div class="skeleton h-8 w-80"></div>
            <div class="skeleton h-12 w-32"></div>
            <div class="divider"></div>
            <div class="skeleton h-8 w-60"></div>
            <div class="skeleton h-14 w-full mt-3"></div>
            <div class="skeleton h-14 w-full mt-3"></div>
        </div>
    </div>

    <ng-template #loadedBlock>
        <div class="header mb-3">
            <b class="text-2xl">Your profile</b>
        </div>
        <div class="divider"></div>
        <div class="flex flex-col gap-3">
            <div>
                <b class="text-accent text-2xl">{{user.username}}</b>
            </div>
            <div>
                {{user.email}}
            </div>
            <div>
                <button class="btn btn-outline btn-accent" [routerLink]="['/editUser', user.id]">
                    Edit profile

                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M21.75 6.75a4.5 4.5 0 0 1-4.884 4.484c-1.076-.091-2.264.071-2.95.904l-7.152 8.684a2.548 2.548 0 1 1-3.586-3.586l8.684-7.152c.833-.686.995-1.874.904-2.95a4.5 4.5 0 0 1 6.336-4.486l-3.276 3.276a3.004 3.004 0 0 0 2.25 2.25l3.276-3.276c.256.565.398 1.192.398 1.852Z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.867 19.125h.008v.008h-.008v-.008Z" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="divider"></div>
        <app-user-poll></app-user-poll>
    </ng-template>

</div>