<div class="container p-5">
    <b>Sign up</b>
    <div>
        <form [formGroup]="reactiveForm">
            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text">Username</span>
                </div>
                <input type="text" placeholder="Your username" class="input input-bordered"
                    formControlName="username" />
            </label>
            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text">Email</span>
                </div>
                <input type="email" placeholder="Your email" class="input input-bordered" formControlName="email" />
            </label>
            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text">Password</span>
                </div>
                <input type="password" placeholder="Your password" class="input input-bordered"
                    formControlName="password" />
            </label>
            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text">Confirm Password</span>
                </div>
                <input type="password" placeholder="Your confirm password" class="input input-bordered"
                    formControlName="confirmPassword" />
            </label>
            <div class="form-control mt-3 w-fit">
                <button class="btn btn-accent" [disabled]="!reactiveForm.valid" (click)="onSubmit()">Sign up</button>
            </div>
        </form>
    </div>
</div>